*.tlog
build/Sept14tutorial.log
*.idb
*.ilk
bin/jumpnjacks.exe
*.pdb
build/jumpnjacks.log
*.enc
build/main.obj
build/m_controller.obj
*.opendb
jumpnjacks.VC.db
*.db
*.suo
*.exe
build/AssetManager.obj
build/DisplayHandler.obj
build/GameManager.obj
build/GameObject.obj
build/GameState.obj
build/Kinematic.obj
build/Mesh.obj
build/Texture2D.obj
build/Collision.obj
*.csv
res/debug/lastRoundScore.txt